header {
    background-color: aqua;
    color: black;
    text-align: center;
    padding: 20px;
}

nav{
    background-color: gray;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 10;
    padding: 10;

}

nav li {
    display: inline;
    margin-right: 25px;

}

nav a {
    text-decoration: solid;
    color: rgb(245, 229, 5);
}


main {
    padding: 200px;
}

footer {
    background-color: black;
    color: green;
    text-align: left;
    padding: 10px;
}

main section {
    margin-bottom: 20px;
}

section {
    width: 50%;
    padding: 30px;
    border: 4px solid black;
    float: left;
    box-sizing: border-box;
}