.navbar {
    background-color: rgb(13, 34, 27);
    overflow: hidden;
}

.navbar ul {
    list-style-type: none ;
    margin: 0;
    padding: 0;
}

.navbar li  {
    float: left;
    margin-right: 20px;

}

.navbar li a {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.13s ease;
}

.navbar li a:hover {
    background-color: rgb(5, 22, 255);
}